<div class="modal-body">
    <span class="head-tag">{{results.attribute}}</span>
    <div class="row">
        <div class="col-md-7">
            <div ng-repeat="image in results.images">
                <img class="img-responsive" ng-src="{{image}}"/>
            </div>
        </div>
        <div class="col-md-5">
            <div class="head">
                <h3 class="modal-title">{{results.hotel_name}}</h3>
                <span class="place">{{results.address}}</span>
            </div>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="review in results.reviews">
                    <div class="quote">
                        <div class="user">
                            <img ng-src="{{review.user.avatr}}" width="60" height="60" class="img-circle">
                        </div>
                        <div class="quote-text ng-binding">"{{review.review}}"</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>    
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
    