// Color variables

$awesome: #60A461;
$good: #A5D36D;
$fair: #F9E986;
$ok: #60A461;
$not: #FF822D;
$bad: #D03737;

$hero: #9CC36A;

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
  color: #fff;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $hero;
  padding-bottom: 15px;
}

.navbar-text {
  margin-left: 15px;
}

.navbar-default{
  background-color: darken($hero,20%);
  border:none;

  .navbar-brand {
    color: #EFF5E1;
    font-weight: normal;
    font-size: 2rem;
  }
}
.results-list{
  .container{
    width: 690px !important;
  }
}

.help {
  padding: 2rem;
  font-size: 12px;
  background-color: #eee;
  padding-left: 5rem;
  text-align: center;
  h4{
    font-size:1.5rem;
    color: #7B6969;
  }
}

// Search
input.search-master {
  border: none;
  background-color: lighten($hero, 10%);
  padding-bottom: 2rem;
  padding-top: 2rem;
  height: 51px;
  color: #fff;
  padding-left: 2em;
  font-size: 1.4em;
  border-radius: 33em;

  @include placeholder {
    color: #fff;
  }
}

// Hotels

span.others {
  display: block;
  font-size: 12px;
  margin-top: 1.5rem;
  color: #989292;
  border: solid 1px #eee;
  padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 6px;
  border-radius: 23px;
  background-color: #eee;
  color: #989292;
}

.no{
  font-weight: bold;
  color: #E88311;
  display: inline-block;
  margin-right: 10px;
}

.head {
  padding-bottom: 1.5rem;
  border-bottom: solid 1px #eee;
  margin-bottom: 2.3rem;
  padding-left: 1.3em;
  padding-top: 0.7em;
  padding-bottom: 1.7em;
}

.col-md-6.image {
  margin-left: 0;
  padding: 0;
}


.chart{
  position:absolute;
  bottom:0;
  height: 60px;
  span{
    
    background-color: #fff;
    margin-right: 8px;
    display: block;
    width: 12px;
    float: left;
  }

  .a{ background-color: $awesome}
  .b{ background-color: $good }
  .c{ background-color: $fair }
  .d{ background-color: $ok }
  .e{ background-color: $not }
  .f{ background-color: $bad }
}

.quote {
  position: relative;
  min-height: 120px;
}
.user {
  position: absolute;
  left: -40px;
  img{
    border: solid 3px $awesome;
  }
}
.quote-text {
  float: left;
  margin-left: 60px;
  font-size: 1.6rem;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    padding-left: 2em;
    padding-top: 2em;
}

.head-tag{
  display: inline-block;
  text-align:center;
  background-color: $hero;
  color: #fff;
  padding-bottom: 4px;
  padding-top: 5px;
  border-radius: 33em;
  margin-left: auto;
  margin-right: auto;
  width: 68px;
  display: block;
  text-transform: capitalize;
}

.modal-body{
  padding-right:2rem;
}

.hotels{
  width: 690px;
  margin-top: 2rem;
  // border: solid 1px #eee;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 0px 11px #A29F9F;
  list-style:none;
  .place{
    font-size: 13px;
    color: #999;
    margin-top: 4px;
    display: block;
  }
  
  h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
  }
}

.modal-dialog.modal-l {
  width: 90%;
}

p.text {
  font-size: 13px;
  color: #929398;
  text-align:left;
}