header#banner.hero-unit
  .container
    .col-md-3
      h3 Humanface
    .col-md-9
      input.form-control.search-master(placeholder="Show me hotels with", ng-change="change()", ng-model="search")

.results-list
  .container(ng-if=search)
    ul
      li.hotels(ng-repeat='result in results')
        .col-md-6.image
            img(src='{{result.images[0]}}',class="img-responsive")
          .col-md-6.review
            .head
              a(ng-click="openThis(result)")
                h3 {{result.hotel_name}}
              span.place {{result.address}}
            .quote
              .user
                img(src='{{result.reviews[0].user.avatr}}', class="img-circle", width="60", height="60")
              .quote-text
                | "{{result.reviews[0].review}}
                span.others.clearfix
                  span.no {{result.reviews_total}}
                  | more results

            .chart
              span.a
              span.b
              span.c
              span.d
              span.e
              span.f

footer
